html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    color: white;
}

h1{
    padding-top: 10px;
}

.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 48px;
}

.header a img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 8px;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 8px;
    width: 200px;
}

.searchButton{
    margin-right: 48px;
    margin-left: 8px;
    cursor: pointer;
}

#pokedex{
    margin: 120px 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokeCard{
    display: flex;
    flex-direction: column;
    margin: 16px 8px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    border-radius: 5%;
}

.pokeCard:hover{
    animation: bounce 1s;
}

.pokeImg{
    width: 220px;
    height: 220px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#pokeCardInfo{
    padding: 16px;
    border-radius: 6%;
    margin-top: -12px;
    background-color: black;
    border: 1px solid white;
}

.pokeCardTypes span{
    border: 1px solid white;
    padding: 4px;
}

.background_fire{
    background-color: rgba(253, 125, 36);
}

.border_fire{
    box-shadow: 8px 4px 15px 3px rgb(253, 125, 36);
}

.background_grass{
    background-color: rgba(155, 204, 80);
}

.border_grass{
    box-shadow: 8px 4px 15px 3px rgba(155, 204, 80);
}

.background_water{
    background-color: rgba(69, 146, 196);
}

.border_water{
    box-shadow: 8px 4px 15px 3px rgba(69, 146, 196);
}

.background_poison{
    background-color: rgba(185, 127, 201);
}

.border_poison{
    box-shadow: 8px 4px 15px 3px rgba(185, 127, 201);
}

.background_flying{
    background-color: rgba(154, 191, 206);
}

.border_flying{
    box-shadow: 8px 4px 15px 3px rgba(154, 191, 206);
}

.background_bug{
    background-color: rgba(114, 159, 63);
}

.border_bug{
    box-shadow: 8px 4px 15px 3px rgba(114, 159, 63);
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
}