html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    color: white;
}

h1{
    padding-top: 10px;
}

.scaleX{
    transform: scaleX(0.0);
}

.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 48px;
}

.header a img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 8px;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 8px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 300ms ease-in-out;
}

#searchButton{
    margin-right: 48px;
    margin-left: 8px;
    cursor: pointer;
}

#pokedex{
    margin: 120px 64px 32px 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokeCard{
    display: flex;
    flex-direction: column;
    margin: 16px 8px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    border-radius: 5%;
}

.pokeCard:hover{
    animation: bounce 1s;
}

.pokeImg{
    width: 220px;
    height: 220px;
    padding: 16px;
    background-color: rgba(51, 51, 51, 0.7);
    /* background-color: rgba(189, 189, 189, 0.7); */
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#pokeCardInfo{
    padding: 16px;
    border-radius: 6%;
    margin-top: -12px;
    background-color: rgb(92, 92, 92);
    border: 1px solid white;
}

.pokeCardTypes span{
    border: 1px solid white;
    padding: 4px;
}

.showMoreButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
}

.showMoreButton button{
    width: 70px;
    height: 70px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 0px 0px 8px 0px white;
    color: white;
    font-weight: bold;
    background-image: url(./img/pokeball.png);
    z-index: 1;
    cursor: pointer;
}


@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
} 